* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech', sans-serif;
}

.logo {
    font-weight: 600;
    font-size: 3.8rem;
    color: #ffffff;
}

nav {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
}

ul li {
    display: inline-block;
    list-style: none;
    padding: 6px 20px;
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #ffffff;
}

ul li:hover {
    background-color: #5f9;
    border-radius: 25px;
    text-decoration: none;
}

.container-fluid {
    padding-top: 50px;
}

.row {
    padding-top: 50px;
}