<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title>Enviar Correo - CalzadoFloridablanca</title>

        <link rel="icon" href="imagenes/sign.ico">
        <link rel="stylesheet" href="css/portal.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://kit.fontawesome.com/62ea397d3a.js"></script>
    </head>
    <body>
        <nav class="encabezado">
            <span class="logo">CALZADO FLORIDABLANCA</span>
            <ul>
                <li><a href="index.html" style="text-decoration:none;color: #fff;">INICIO</a></li>
                <li><a href="zapatos.jsp" style="text-decoration:none;color: #fff">ZAPATOS</a></li>
                <li><a href="empleados.jsp" style="text-decoration:none;color: #fff">EMPLEADOS</a></li>
                <li><a href="proveedores.jsp" style="text-decoration:none;color: #fff">PROVEEDORES</a></li>
            </ul>
        </nav>
        <div class="flex-container" ng-app="demoPortal" ng-controller="portalController as p">
            <h3>
                A continuación, redacte su correo electrónico colocando un asunto que sintetice muy bien la solicitud a realizar. 
                Seguido de esto escriba una descripción de la solicitud e ingrese el correo de la empresa calzadofloridablanca1@gmail.com.
                Todo esto tiene como el fin de facilitar el proceso contactando al equipo de soporte técnico.
            </h3>
            <form class="form">                
                <div class="form__section">
                    <input type="email" name=email class="form__input" onchange="return ValidarEmail(this)" placeholder="Escriba el Correo Electrónico">
                </div>

                <div class="form__section">
                    <input type="text" class="form__input" placeholder="Escriba el Asunto" ng-model="p.asunto">
                </div>              

                <div class="form__section">
                    <textarea class="form__input" placeholder="Escriba su Mensaje"></textarea>
                </div>                

                <div class="form__section">
                    <input type="submit" class="form__input" ng-click="p.enviar()">
                </div>

            </form>
            <div class="form-img">
                <div class="img-container">
                    <div>
                        <img src="https://i.ya-webdesign.com/images/black-envelope-png-icon-1.png">
                    </div>
                </div>
            </div>

        </div>	
        <script>
            function ValidarEmail(mail) {
                if (mail.value.indexOf("@") === -1) {
//                    alert("Mail Inválido");
//                    mail.focus();
                    mail.select();
                } else {
                    alert("El mensaje ha sido enviado exitosamente");
                }
            }
        </script>
        <script>

            var app = angular.module('demoPortal', []);
            app.controller('portalController', ['$http', controladorPortal]);
            function controladorPortal($http) {
                var p = this;
                p.enviar = function () {
                    if (mail.value.indexOf("@") === -1) {
                        ValidarEmail(this);
                    } else {
                        alert("El mensaje ha sido enviado exitosamente");
                    }
                };
            }
        </script>
    </body>
</html>
